<div class="layout_w240_v5">
    <h1 class="tool_title_v5 learn_tool">
        <b class="current_v5 pb20" data-id="learn_service">学习服务</b>
        <i class="line_v521"></i>
        <b class="pb20" data-id="learn_tool">学习工具</b>
    </h1>
    <div id="learn_service" class="class_tool google_event" ga-type="点击学习服务">
        <span class="tool_text_v5">
            <a target="_blank" href="{{learn_guidance}}" class="" ga-title="上课指导">上课指导</a>
            <a target="_blank" href="{{group_link}}" class="" ga-title="班级Q群">班级Q群</a>
        </span>
        <span class="tool_text_v5">
            <a target="_blank" href="{{course_guide}}" class="" ga-title="选课指导">选课指导</a>
            <a target="_blank" href="{{activation_link}}" class="" ga-title="课程激活">课程激活</a>
        </span>
        <span class="tool_text_v5">
            <a target="_blank" href="{{record_download}}" class="" ga-title="录播下载">录播下载</a>
            <a target="_blank" href="{{use_textbook}}" class="" ga-title="教材使用">教材使用</a>
        </span>

    </div>
    <div id="learn_tool" class="class_tool google_event" ga-type="点击学习工具" style="display: none;">
        <span class="tool_text_v5 mt05">
            <a target="_blank" href="{{class_software}}" class="" ga-title="软件下载">上课软件</a>
            <a target="_blank" href="{{app_link}}" class="" ga-title="网校APP">App网校</a>
        </span>
        <span class="tool_text_v5">
            <a target="_blank" href="{{wsyt_link}}" class="" ga-title="五十音图">五十音图</a>
            <a target="_blank" href="{{practice_link}}" class="" ga-title="在线做题">在线做题</a>
        </span>
        <span class="tool_text_v5">
            <a target="_blank" href="{{yfk_link}}" class="" ga-title="学习语法">学习语法</a>
            <a target="_blank" href="{{cidao_link}}" class="" ga-title="学习单词">学习单词</a>
        </span>
    </div>
</div>