<div class="evaluate_layout_v521">
    <span class="techer_img_v521 flL"><img src="{{teacher_avatar}}" alt=""></span>
    <span class="techer_title_v521 flL">
        <p title="{{course}}">{{course}}</p>
        <b>{{time}}</b>
    </span>
    <p class="techer_text_v521 clearfix">
        <em title="{{comment}}">{{sliceComment}}</em>
        <b class="taR block">——{{teacher_name}}</b>
    </p>
</div>