<span class="wap_cpss_close curP"><img src="../images/wap_cpss_close_img.png" alt=""></span>
<h1 class="fz36 fwN mt60">YY频道号<br>{{yy_number}}</h1>
<span class="taL pl40 pr40 mt20">
        <p><b class="color_979797 mr10">上课房间</b>{{room_name}}</p>
        <p class="mt10"><b class="color_979797 mr10">房间密码</b>{{room_pwd}}</p>
    </span>
<p class="fz32 color_1e93fa mt40 mb45">{{class_time}}上课</p>
<p class="wap_cpss_password_btn copy_pwd curP" data-clipboard-text="{{room_pwd}}">复制密码</p>